@import "tailwindcss";

.feature-card {
  @apply text-center flex flex-col items-center gap-4 rounded-2xl border border-gray-200 bg-slate-200 p-6 shadow-sm 
         transition-all duration-300 hover:scale-[1.02] 
         hover:border-indigo-500 hover:shadow-md;
}

.feature-card-title {
  @apply text-lg font-semibold text-gray-900 
         group-hover:text-indigo-600 transition-colors;
}

.feature-card-description {
  @apply mt-2 text-sm text-gray-600;
}

ul {
  display: flex;
  justify-content: end;
  width: 100%;
  padding: 8px 16px;
  z-index: 200;
  position: fixed;
  left: 0px;
  top: 0px;
  gap: 25px;
}

ul li {
  position: relative;
  list-style: none;
  width: 40px;
  height: 40px;
  background: white;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  border-radius: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
  opacity: 0;
  transition: 0.5s;
}

ul li::after {
  content: "";
  position: absolute;
  top: 10px;
  width: 100%;
  height: 100%;
  border-radius: 60px;
  background: linear-gradient(45deg, var(--i), var(--j));
  transition: 0.5s;
  filter: blur(15px);
  z-index: -1;
  opacity: 0;
}

ul li:hover {
  width: 100px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0);
}

ul li:hover::before {
  opacity: 1;
}

ul li:hover::after {
  opacity: 0.5;
}

ul li i {
  color: #30bae8;
  font-size: 4em;
  transition: 0.5s;
  transition-delay: 0.25s;
}

ul li:hover i {
  transform: scale(0);
  color: #fff;
  transition-delay: 0s;
}

ul li span {
  position: absolute;
}

ul li .title {
  color: #fff;
  font-size: 0.8em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  transform: scale(0);
  transition: 0.5s;
  transition-delay: 0s;
}

ul li:hover .title {
  transform: scale(1);
  transition-delay: 0.25s;
}

.nav-bg {
  background-color: rgba(0, 0, 0, 0.5);
  transition: background 0.5s;
}

.nav-bg.fade-out {
  background-color: transparent;
  transition: background-color 0.5s;
}

.animate-bounce-slowly {
  animation: bounce-slowly 2s ease-in 0.5s infinite;
}

@keyframes bounce-slowly {
  20% {
    transform: translateY(-2%);
    transform: translateX(1%);
  }
  90% {
    transform: translateY(2%);
    transform: translateX(-1%);
  }
}

.animate-bounce-reverse {
  animation: bounce-reverse 2s ease-in 0.5s infinite;
}

@keyframes bounce-reverse {
  20% {
    transform: translateY(2%);
    transform: translateX(-1%);
  }
  90% {
    transform: translateY(-2%);
    transform: translateX(1%);
  }
}
